<div id="rides" class="modal fade text-center">
    <div class="modal-dialog" id="profile-dialog">
        <div class="modal-content" id="profile-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="model-heading" class="text-center">My Rides </h4>
            </div>
            
            <div class="modal-body top scroll-style" id="rides-card">    
               
            </div>
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>